.items-in-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  z-index: 2;
  height: 20px;
  width: 20px;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 50%;
}
