<div className="d-flex flex-column justify-content-center text-center">
  <h1 className="m-3 fw-bold text-white">Выберите категорию</h1>
  <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
    <div className="menu_block" *ngFor="let item of categoriesService.categories; let i = index;">
      <div
          class="menu_block_item"
          [ngStyle]="{'background-image':' url('+ menu[i] + ')', 'backgroundSize': 'cover','backgroundRepeat': 'no-repeat'}"

          (click)="getSingleCategory(item)"
        >
        <span class="name_categories">{{item}}</span>
      </div>
    </div>
  </div>
</div>

