<div class="container-xxl bg-secondary min-vh-100">
  <h1 class="text-light">Заказы</h1>
  <div class="d-flex flex-column ">
    <div *ngFor="let order of orders" class="d-flex flex-column  p-2 mb-2">
      <h3>Номер заказа</h3>
      <p class="text-dark"><span class="text-dark fw-bold">{{order.id}}</span> от <span class="text-white fw-bold">{{order.date}}</span></p>
      <h3>Товары</h3>
      <hr/>
      <div class="d-flex w-100 flex-column align-items-center justify-content-center" *ngFor="let item of order.orderList">
        <div class="d-flex w-100 flex-row align-items-center justify-content-center">
          <div class="d-flex w-25 h-25 align-items-start justify-content-center">
            <img src="{{item.products.image}}" class="w-25 h-25"/>
          </div>
          <div class="d-flex flex-column w-25 h-25 flex-wrap">
            <span class="text_title">{{item.products.title}}</span>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center w-25 h-25">
            <span class="text_color">Количество</span>
            <span class="fw-bold">{{item.count}}</span>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center w-25 h-25">
            <span class="text_color">Сумма</span>
            <span class="text_name">{{item.products.price}} <i class="bi bi-currency-dollar"></i> </span>
          </div>
        </div>
      <hr class="w-100"/>
      </div>
        <div class="d-flex flex-row justify-content-between">
          <h3>Итого</h3>
          <h3 class="fs-2">{{order.totalSumOrder}} <i class="bi bi-currency-dollar fs-4"></i></h3>
        </div>
    </div>
  </div>
</div>
