hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.text_color{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  margin-bottom: 10px;
}

.text_name{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #E93232;
}

.text_title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #333333;
}
