<div class="container-xxl bg-secondary min-vh-100">
  <div class="d-flex flex-column w-100 py-3" >
    <h1 class="text-white">Корзина</h1>
    <div class="d-flex flex-row">
      <div class="d-flex w-50 m-2">
        <app-shopping-cart-list class="w-100"></app-shopping-cart-list>
      </div>
      <div class="d-flex flex-column w-50 h-25 m-2 border border-light p-2 rounded">
        <h2 class="text-white">Итого</h2>
        <div class="d-flex justify-content-between mb-3">
          <span class="text-white"><span class="fw-bold text-white">{{quantity}}</span> товара на сумму</span>
          <div class="d-flex align-items-center">
            <span class="total_text text-white">{{total}}<i class="bi bi-currency-dollar"></i></span>
          </div>
        </div>
        <div class="d-flex align-items-start">
          <span class="fs-2 text-white">К оплате</span>
          <div class="d-flex align-items-center">
            <span class="fs-2  mx-3 text-white">{{total}}<i class="bi bi-currency-dollar fs-2"></i></span>
          </div>
        </div>
        <button class="btn btn-success mt-5 mb-2" (click)="order()" [disabled]="length === 0">Оформить заказ</button>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-center w-100 mt-5" *ngIf="show">
      <div class="d-flex flex-column align-items-center justify-content-center text-center">
        <h2 class="text-white">Спасибо</h2>
        <h3 class="text-white">Заказ сформирован</h3>
      </div>
    </div>
  </div>


</div>
