<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="/">STORE</a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  text-light" aria-current="page" routerLink="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light"  routerLink="/catalog">Каталог</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light d-flex flex-row align-items-center" routerLink="/shopping-cart">Корзина <app-items-in-cart></app-items-in-cart></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/orders">Заказы</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
