<input class="form-control mb-2" placeholder="Введите имя товара"/>
<div *ngFor="let item of productService.products">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="item.image" class="img-fluid rounded-start" [alt]="item.image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <span class="fs-3 fw-bold">{{item.price}} <i class="bi bi-currency-dollar fw-bold"></i></span>
          <p class="card-text">{{item.description}}</p>
          <button (click)="addShoppingCart(item.id)" class="btn btn-success">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
