<div class="d-flex flex-column ">
  <div class="d-flex align-items-center bg-light rounded p-2 shadow bg-body w-100 justify-content-between mb-3" *ngFor="let item of shoppingCartService.shoppingCart">
    <img alt="product image" class='img_shoppingCart' [src]="item.products.image"/>
    <div class="d-flex w-100  justify-content-between align-items-center">
      <div class="d-flex flex-column m-3 w-50">
        <span class="title">{{item.products.title}}</span>
        <span class="title">{{item.products.price}} <span class="price_des"><i class="bi bi-currency-dollar fs-4"></i> за шт.</span></span>
      </div>
      <div class="d-flex flex-row align-items-center m-3 w-25">
        <button class="btn btn-danger" (click)="decreaseCount(item.id)">-</button>
        <span class="count">{{item.count}}</span>
        <button class="btn btn-success" (click)="increaseCount(item.id)">+</button>
      </div>
      <div class="d-flex align-items-center">
        <span class="price"></span>
      </div>
      <button class="btn btn-danger" (click)="deleteItem(item.id)"><i class="bi bi-trash fs-2"></i></button>
    </div>
  </div>
</div>


